.stack-work/
.stack-work-profile/
melo.cabal
*~
.idea/
*.iml
out/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

.hie

# ghc profiling
*.aux
*.prof
*.ps
*.hp
